@import 'lib/reset';
@import 'lib/animate';
@import url(http://fonts.googleapis.com/css?family=Titillium+Web:400,200,700);



body {

  background: #000;
  color: #fff;
  font-family: 'titillium web', sans-serif;
  font-weight: 200;

}

.hero {
  position: relative;
  width: 90%;
  max-width: 1000px;
  margin: 11% auto 0;
  text-align: center;

}

.hero #logo {
  width: 14%;
  max-width: 146px;
  min-width: 120px;
  opacity: 0.9;
  margin-bottom: 40px;

}

.r-letter, .l-letter, .underline, .name, .job {
  display: none;
}


.rect {
  display: none;
}

#webgl {
  position: absolute;
  left: 0;
  top: 0;

}


h1 {
  -webkit-font-smoothing: antialiased;
  font-size: 30px;

}

h1 p {
  text-transform: uppercase;
  font-size: 15px;
  background: #FFF;
  color: #0A0A0A;
  font-weight: bold;
  display: inline-block;
  padding: 13px 23px;
  letter-spacing: 4px;
  display: none;

//  border: 1px solid #FFF;
}

h1 strong {
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 11px;
  display: block;
  font-size: 25px;
  margin-bottom: 20px;
  display: none;
}


