
    <div class="sentence-wrp step-3-a" sentence
         data-text="{{sentenceText}}">
        <div class="sentence">
            <span class="typing"></span>
            <ng-md-icon class="ico i-1" options='{"duration": 600, "easing":"expo-in-out","rotation":"none"}' icon="{{icon}}" style="fill:#ffffff" size="60%"></ng-md-icon>

            <div class="answers2">
                <a ng-click="continue()"><span>continue</span></a>
            </div>
        </div>





    </div>


    <div id="webgl"></div>

    <div class="bg"></div>





