<div class="sentence-wrp step-5" sentence
     data-text="{{sentenceText}}">
    <div class="sentence">
        <span class="typing"></span>


        <ng-md-icon ng-click="trigger()" class="ico i-1" options='{"duration": 600, "easing":"expo-in-out","rotation":"none"}' icon="{{icon}}" style="fill:#ffffff" size="60%"></ng-md-icon>

        <div class="answers2">
            <a ng-click="continue()"><span>continue</span></a>
        </div>
    </div>





</div>


<div id="webgl"></div>

<div class="bg"></div>
<div class="circle"></div>


<a ng-click="restart()" href="#" class="restart">
    <svg fill="#FFFFFF" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
        <path d="M0 0h24v24H0z" fill="none"/>
        <path d="M12 5V1L7 6l5 5V7c3.31 0 6 2.69 6 6s-2.69 6-6 6-6-2.69-6-6H4c0 4.42 3.58 8 8 8s8-3.58 8-8-3.58-8-8-8z"/>
    </svg>
    <span>restart</span>
</a>