
@media only screen and (max-width: 700px) {

    .sentence-wrp {
        width: 80%;
        height: 75%;
    }

    .sentence {
        font-size: 5vw;
    }

    .contacts { padding: 3% 8% }

    .contacts .inner {
        font-size: 30px;
    }

    #logo { width: 80px }

    .answers, .answers2 {
        position: relative;
        z-index: 10;
        display: block;
        margin-top: 10%;
    }

    .answers a, .answers2 a {
        display: block;
        position: relative;
        z-index: 10;
        width: 80%;
        font-size: 4vw;
        margin-right: auto;
        margin-left: auto;


    }

}



@media only screen and (max-width: 400px) {

    .sentence-wrp { width:90% }

    .sentence { font-size: 10vw }

    .answers a, .answers2 a {
        width: 100%;
        font-size: 6vw;
    }

    .contacts .inner {
        font-size: 36px;
    }

    #logo {
        width: 100px;
    }

    #loader {
        position: fixed;
        top: 50%;
        left: 50%;
        width: 20%;
        margin-top: -10%;
        margin-left: -10%;

    }


}